---
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';
import { Picture } from 'astro:assets';
import '@styles/tech-colors.css';

interface Props {
  src: string
  alt: string
  title: string
  description: string
  techs: string[]
  repo: string
  repoLabel: string
  commits: string
}

const { src, alt, title, description, techs, repo, repoLabel, commits } =
  Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
'/src/images/contributions/*.{jpeg,jpg,png}'
);
if (!images[src]) 
  throw new Error(
    `"${src}" no existe en: "/src/images/contributions/*.{jpeg,jpg,png}"`
  )
---

<section class="card-contributions">
  <div>
    <a href={repo}>
      <Picture
        src={images[src]()}
        alt={alt}
        width={293}
        height={168}
        formats={['avif', 'webp']}
        fallbackFormat="webp"
      />
    </a>
  </div>
  <h3><a href={repo}>{title}</a></h3>
  <p>{description}</p>
  <div class="badges">
    {techs.map((tech) => {
      const techLower = tech.toLowerCase().replaceAll(' ', '-');
      return (
        <span class={`badge-tech ${techLower}`}>
          <Icon name={`techs/${techLower}`} size={16} />
          <span>{tech}</span>
        </span>
      );
    })}
  </div>
  <div class="links">
    <a href={repo}>
      <Icon name="github" size={16} />
      {repoLabel}
    </a>
    <a href={commits}>
      <Icon name="link" size={16} />
      Commits
    </a>
  </div>
</section>

<style>
  /* CSS permanece igual */
</style>
